/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.root {
	-fx-font-size: 13px;
	-fx-font-family: "Ubuntu";
}

.optional {
	-fx-font-family: "Lucida Bright";
	-fx-font-style: italic ;
}

.mandatory {
	-fx-font-weight: bold; 
}

.heading {
	-fx-font-size: 20px;
}
